# Firebase
/google-services.json
/GoogleService-Info.plist
/firebase.json

# Environment variables
.env
.env.*
config.dart

# Keys & Secrets
*.key
*.p12
*.pem
*.crt

# Android
/android/key.properties
/android/app/debug.keystore
/android/app/prod.keystore

# iOS
/ios/Runner/GoogleService-Info.plist
/ios/Runner/Release.keystore

# Build files
/build/
/.dart_tool/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
